# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*~

# Node (varsa ileride)
node_modules/
npm-debug.log*

# Build artefaktları
dist/
build/

# Çevre değişkenleri
.env
.env.local

# Yedekler
*.bak
*.tmp
